{% extends 'base.html' %}
{% block body_content %}

<form action="{{action}}" method="POST">
    <center>
        <h4><b>TODO</b></h4>
        
        <input type="text" name="title" placeholder="Title" >
        <br><br>
        <input type="text" name="description" id="" placeholder="Description" >
        <br><br>
        <input type="integer" name="user_id" placeholder="User_ID">
        <br><br> 
        <label for="">Status</label>
        <select name="status" id="">
            <option value="accept">accept</option>
            <option value="pending">pending</option>
            <option value="reject">reject</option>

        </select>
        <br><br>
        <input type="submit" value="Submit" >
        
    </center>

</form>


{% endblock %}