{% extends 'base.html' %}
{% block body_content %}
<center>
    <a href="/add"><button type="button" class="btn btn-success">Add New</button></a>
    <a href="/add"><button type="button" class="btn btn-primary">Back</button></a>
    <a href="/logout"><button type="button" class="btn btn-success"><i class="bi bi-box-arrow-right" ></i></button></a>
    
    <p>Welcome {{current_user}}</p>
    <form action="" method="POST">
        <table class="table table-bordered border-primary" >
            <thead>
                <tr>
                    <th scope="col">SN</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">user_id</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>


                </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                <tr>
                    <td>{{todo.todo_id}}</td>
                    <td>{{todo.title}}</td>
                    <td>{{todo.description}}</td>
                    <td>{{todo.user_id}}</td>
                    <td>{{todo.status}}</td>
                    <td>{{todo.created_date}}</td>


                    <td class="d-flex justify-content-between">
                        <!-- <a href=""> <i class="bi bi-eye-fill text-success"></i></a> -->
                        <a href="/update/{{todo.todo_id}}"><i class="bi bi-pencil-square"></i></a>
                        <a href="/delete/{{todo.todo_id}}"><i class="bi bi-trash text-danger"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</center>



{% endblock %}