{% extends 'base.html' %}
{% block body_content %}

<form action="{{action}}" method="POST">
    <center>
        <h4><b>TODO Update</b></h4>
        <input type="integer" name="todo_id" placeholder="Title" value="{{todo.todo_id}}">
        <br><br>
        <input type="text" name="title" placeholder="Title" value="{{todo.title}}">
        <br><br>
        <input type="text" name="description" id="" placeholder="Description" value="{{todo.description}}">
        <br><br>
        <input type="integer" name="user_id" placeholder="User_ID" value="{{todo.user_id}}">
        <br><br>
        <label for="">Status</label>
        <select name="status" id="">
            <option value="accept">accept</option>
            <option value="pending">pending</option>
            <option value="reject">reject</option>

        </select>
        <br><br>
        <input type="submit" value="Submit">

    </center>

</form>


{% endblock %}