
{% extends 'base.html' %}
{% block body_content %}
<center>
    <h4>Login</h4>
    {% if error %}
        <p class=error> <strong>Error:</strong>{{ error }}</p>
    {% endif %}
        <form action='{{action}}' method="post">
            <input type="email" name="email" placeholder="email">
            <br><br>
            <input type="password" name="password" placeholder="Password">
            <br><br>
            <input type="submit">
            <a href="/signup">sign up</a>

        </form>
</center>
{% endblock %}
