
{% extends 'base.html' %}
{% block body_content %}
<center>
    <h4>Signup</h4>
        <form action='{{action}}' method="post">
            <input type="text" name="username" placeholder="Username">
            <br><br>
            <input type="email" name="email" id="" placeholder="Email">
            <br><br>
            <input type="password" name="password" placeholder="Password">
            <br><br>
            <input type="submit">

        </form>
</center>
{% endblock %}
